<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.mf.org.dao.EmployeetrainDao">

	<resultMap id="Employeetrain" type="com.mf.org.entity.Employeetrain">
        <result property="trainno" column="trainno"/>
        <result property="startdt" column="startdt"/>
        <result property="enddt" column="enddt"/>
        <result property="hours" column="hours"/>
        <result property="numofpeople" column="numofpeople"/>
        <result property="project" column="project"/>
        <result property="sponsor" column="sponsor"/>
        <result property="content" column="content"/>
        <result property="trainplace" column="trainplace"/>
        <result property="trainer" column="trainer"/>
	</resultMap>
	
	<sql id="selectId">
		trainno,startdt,enddt,hours,numofpeople,project,sponsor,content,trainplace,trainer
    </sql>
    
<!--     <select id="findAll" resultType="com.mf.org.entity.Employeetrain">
		select
		<include refid="selectId" />
		from employeetrain
	</select>
	
	<select id="queryAll" resultType="com.mf.org.entity.Employeetrain" parameterType="com.mf.org.entity.Employeetrain">
		select
		<include refid="selectId" />
		from employeetrain
		<include refid="querywhere1"/>
		<if test="@Ognl@isNotEmpty(sort) and @Ognl@isNotEmpty(direction)">
		 order by ${sort} ${direction}
		</if>
	</select>

	
	
		<sql id="querywhere1">
		ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类
		<where>	      				
		       <if test="@Ognl@isNotEmpty(startdt)">
					AND startdt like '%${startdt}%'
				</if>
		       <if test="@Ognl@isNotEmpty(enddt)">
					AND enddt like '%${enddt}%'
				</if>
		       <if test="@Ognl@isNotEmpty(hours)">
					AND hours like '%${hours}%'
				</if>
		       <if test="@Ognl@isNotEmpty(numofpeople)">
					AND numofpeople like '%${numofpeople}%'
				</if>
		       <if test="@Ognl@isNotEmpty(project)">
					AND project like '%${project}%'
				</if>
		       <if test="@Ognl@isNotEmpty(sponsor)">
					AND sponsor like '%${sponsor}%'
				</if>
		       <if test="@Ognl@isNotEmpty(content)">
					AND content like '%${content}%'
				</if>
		       <if test="@Ognl@isNotEmpty(trainplace)">
					AND trainplace like '%${trainplace}%'
				</if>
		       <if test="@Ognl@isNotEmpty(trainer)">
					AND trainer like '%${trainer}%'
				</if>
	       
		</where>
	</sql>

	总记录数
	<select id="count" parameterType="com.mf.org.entity.Employeetrain" resultType="int">
		select count(0) from employeetrain
		<include refid="querywhere1"/>
	</select>
	
	新增
	<insert id="addAll" parameterType="com.mf.org.entity.Employeetrain">
	<selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="id" >
        SELECT LAST_INSERT_ID() AS ID   
    </selectKey>
		INSERT INTO employeetrain (
        	startdt ,
        	enddt ,
        	hours ,
        	numofpeople ,
        	project ,
        	sponsor ,
        	content ,
        	trainplace ,
        	trainer 
        ) VALUES (
        	#{startdt} ,
        	#{enddt} ,
        	#{hours} ,
        	#{numofpeople} ,
        	#{project} ,
        	#{sponsor} ,
        	#{content} ,
        	#{trainplace} ,
        	#{trainer} 
        )
	</insert>
	
	新增Selective
	<insert id="add" parameterType="com.mf.org.entity.Employeetrain">
		INSERT INTO employeetrain 

		<include refid="addtrim"/>
	</insert>
	
	<sql id="addtrim">
	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(trainno)">
				trainno,
			</if>
			<if test="@Ognl@isNotEmpty(startdt)">
				startdt,
			</if>
			<if test="@Ognl@isNotEmpty(enddt)">
				enddt,
			</if>
			<if test="@Ognl@isNotEmpty(hours)">
				hours,
			</if>
			<if test="@Ognl@isNotEmpty(numofpeople)">
				numofpeople,
			</if>
			<if test="@Ognl@isNotEmpty(project)">
				project,
			</if>
			<if test="@Ognl@isNotEmpty(sponsor)">
				sponsor,
			</if>
			<if test="@Ognl@isNotEmpty(content)">
				content,
			</if>
			<if test="@Ognl@isNotEmpty(trainplace)">
				trainplace,
			</if>
			<if test="@Ognl@isNotEmpty(trainer)">
				trainer,
			</if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(startdt)">
				#{startdt},
			</if>
			<if test="@Ognl@isNotEmpty(enddt)">
				#{enddt},
			</if>
			<if test="@Ognl@isNotEmpty(hours)">
				#{hours},
			</if>
			<if test="@Ognl@isNotEmpty(numofpeople)">
				#{numofpeople},
			</if>
			<if test="@Ognl@isNotEmpty(project)">
				#{project},
			</if>
			<if test="@Ognl@isNotEmpty(sponsor)">
				#{sponsor},
			</if>
			<if test="@Ognl@isNotEmpty(content)">
				#{content},
			</if>
			<if test="@Ognl@isNotEmpty(trainplace)">
				#{trainplace},
			</if>
			<if test="@Ognl@isNotEmpty(trainer)">
				#{trainer},
			</if>
    </trim>
	</sql>
	
	删
	<delete id="deleteById" parameterType="String">
		DELETE FROM employeetrain WHERE
        trainno = #{id} 
	</delete>
	
	根据主键查实体
	<select id="getById" parameterType="String" resultType="com.mf.org.entity.Employeetrain">
		SELECT <include refid="selectId" />
		    FROM employeetrain 
	        WHERE 
        trainno = #{id} 
	</select>
	
	更新all
	<update id="updateAll" parameterType="com.mf.org.entity.Employeetrain">
	    UPDATE employeetrain SET
	        startdt = #{startdt} ,
	        enddt = #{enddt} ,
	        hours = #{hours} ,
	        numofpeople = #{numofpeople} ,
	        project = #{project} ,
	        sponsor = #{sponsor} ,
	        content = #{content} ,
	        trainplace = #{trainplace} ,
	        trainer = #{trainer} 
        WHERE 
	        trainno = #{trainno} 
	</update>
	
	<sql id="updateset">
	<set>
		<if test="@Ognl@isNotEmpty(startdt)">
			startdt = #{startdt},
		</if>
		<if test="@Ognl@isNotEmpty(enddt)">
			enddt = #{enddt},
		</if>
		<if test="@Ognl@isNotEmpty(hours)">
			hours = #{hours},
		</if>
		<if test="@Ognl@isNotEmpty(numofpeople)">
			numofpeople = #{numofpeople},
		</if>
		<if test="@Ognl@isNotEmpty(project)">
			project = #{project},
		</if>
		<if test="@Ognl@isNotEmpty(sponsor)">
			sponsor = #{sponsor},
		</if>
		<if test="@Ognl@isNotEmpty(content)">
			content = #{content},
		</if>
		<if test="@Ognl@isNotEmpty(trainplace)">
			trainplace = #{trainplace},
		</if>
		<if test="@Ognl@isNotEmpty(trainer)">
			trainer = #{trainer},
		</if>
    </set>
	</sql>
	
	更新Selective
	<update id="update" parameterType="com.mf.org.entity.Employeetrain">
	    UPDATE employeetrain 
		<include refid="updateset"/>
        WHERE 
	        trainno = #{trainno} 
	</update> -->
	
	<!-- 查找唯一索引但不是主键的字段Selective -->
	
	<!-- 新增Selective -->
	<insert id="add" parameterType="com.mf.org.entity.Employeetrain">
		INSERT INTO employeetrain 
			(trainno,startdt,enddt,hours,numofpeople,project,sponsor,content)
		VALUES
			(#{trainno},#{startdt},#{enddt},#{hours},#{numofpeople},#{project},#{sponsor},#{content})
	</insert>
	
	
	<select id="query" resultType="com.mf.org.entity.Employeetrain" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from employeetrain
		<include refid="querywhere"/>
		<if test="@Ognl@isNotEmpty(t.sort) and @Ognl@isNotEmpty(t.direction)">
		 order by ${t.sort} ${t.direction}
		</if>
	</select>
	
	<sql id="querywhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
			   <if test="@Ognl@isNotEmpty(t.startdt)">
					AND startdt like '%${t.startdt}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.enddt)">
					AND enddt like '%${t.enddt}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.hours)">
					AND hours like '%${t.hours}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.numofpeople)">
					AND numofpeople like '%${t.numofpeople}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.project)">
					AND project like '%${t.project}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.sponsor)">
					AND sponsor like '%${t.sponsor}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.content)">
					AND content like '%${t.content}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.trainplace)">
					AND trainplace like '%${t.trainplace}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.trainer)">
					AND trainer like '%${t.trainer}%'
			   </if>
	       
		</where>
	</sql>
	
	<!-- 根据主键查实体 -->
	<select id="getById" parameterType="String" resultType="com.mf.org.entity.Employeetrain">
		SELECT <include refid="selectId" />
		    FROM employeetrain 
	        WHERE 
        trainno = #{id} 
	</select>
	
	
	<!--  更新Selective	-->
	<update id="modify" parameterType="com.mf.org.entity.Employeetrain">
	    UPDATE employeetrain 
		<include refid="updateset"/>
        WHERE 
	        trainno = #{trainno} 
	</update>
	<sql id="updateset">
	<set>
		<if test="@Ognl@isNotEmpty(startdt)">
			startdt = #{startdt},
		</if>
		<if test="@Ognl@isNotEmpty(enddt)">
			enddt = #{enddt},
		</if>
		<if test="@Ognl@isNotEmpty(hours)">
			hours = #{hours},
		</if>
		<if test="@Ognl@isNotEmpty(numofpeople)">
			numofpeople = #{numofpeople},
		</if>
		<if test="@Ognl@isNotEmpty(project)">
			project = #{project},
		</if>
		<if test="@Ognl@isNotEmpty(sponsor)">
			sponsor = #{sponsor},
		</if>
		<if test="@Ognl@isNotEmpty(content)">
			content = #{content},
		</if>
		<if test="@Ognl@isNotEmpty(trainplace)">
			trainplace = #{trainplace},
		</if>
		<if test="@Ognl@isNotEmpty(trainer)">
			trainer = #{trainer},
		</if>
    </set>
	</sql>
	
	<!-- 删 -->
	<delete id="deleteByTrainno" parameterType="String">
		DELETE FROM employeetrain WHERE
        trainno = #{id} 
	</delete>
	
</mapper>

