<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.mf.financemng.dao.FinanceConditionDao">

	<resultMap id="FinanceCondition" type="com.mf.financemng.entity.FinanceCondition">
       <result property="loanmoneyid" column="LOANMONEYID"/>
        <result property="orgcode" column="ORGCODE"/>
        <result property="bankno" column="BANKNO"/>
        <result property="loandate" column="LOANDATE"/>
        <result property="bankname" column="BANKNAME"/>
        <result property="yearrate" column="YEARRATE"/>
        <result property="creditamount" column="CREDITAMOUNT"/>
        <result property="sumamount" column="SUMAMOUNT"/>
        <result property="sumreturn" column="SUMRETURN"/>
        <result property="loanbalance" column="LOANBALANCE"/>
        <result property="assureway" column="ASSUREWAY"/>
        <result property="assurewaydes" column="ASSUREWAYDES"/>
        <result property="loanperiod" column="LOANPERIOD"/>
        <result property="expiredate" column="EXPIREDATE"/>
        <result property="financecost" column="FINANCECOST"/>
        <result property="remark" column="REMARK"/>
        <result property="deleteflag" column="DELETEFLAG"/>
        <result property="rptstatus" column="RPTSTATUS"/>
        <result property="rptbatch" column="RPTBATCH"/>
        <result property="rptdate" column="RPTDATE"/>
        <result property="processstatus" column="PROCESSSTATUS"/>
        <result property="createby" column="CREATEBY"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="updateby" column="UPDATEBY"/>
        <result property="updatedate" column="UPDATEDATE"/>
	</resultMap>
	
	<sql id="selectId">
		LOANMONEYID,
ORGCODE,
BANKNO,
LOANDATE,
BANKNAME,
YEARRATE,
CREDITAMOUNT,
SUMAMOUNT,
SUMRETURN,
LOANBALANCE,
ASSUREWAY,
ASSUREWAYDES,
LOANPERIOD,
EXPIREDATE,
FINANCECOST,
REMARK,
DELETEFLAG,
RPTSTATUS,
RPTBATCH,
RPTDATE,
PROCESSSTATUS,
CREATEBY,
CREATEDATE,
UPDATEBY,
channeltype,
UPDATEDATE
    </sql>
    
    <select id="findAll" resultType="com.mf.financemng.entity.FinanceCondition">
		select
		<include refid="selectId" />
		from loanmoney 
	</select>
	
	<select id="queryAll" resultType="com.mf.financemng.entity.FinanceCondition" parameterType="com.mf.financemng.entity.FinanceCondition">
		select
		<include refid="selectId" />
		from loanmoney 
		<include refid="querywhere1"/>
		<if test="@Ognl@isNotEmpty(sort) and @Ognl@isNotEmpty(direction)">
		 order by ${sort} ${direction}
		</if>
	</select>

	<select id="query" resultType="com.mf.financemng.entity.FinanceCondition" parameterType="java.util.HashMap">
	select t3.SUMAMOUNT,t3.YEARRATE,t3.BANKNO,t3.expiredate,t3.deleteflag,t3.loandate,t3.loanmoneyid,t3.LOANBALANCE,IFNULL(t3.www,t3.bankname) as bankname from 
		(
		select t1.LOANDATE,t1.expiredate,t1.YEARRATE,t1.BANKNO,t1.SUMAMOUNT,t1.deleteflag,t1.loanmoneyid,t1.BANKNAME,t1.LOANBALANCE,t2.bankname as www from loanmoney t1
		left join banknames t2 on t1.bankname=t2.id) as t3
		<include refid="querywhere"/>
		order by t3.LOANMONEYID desc
	</select>
	<sql id="querywhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
			    <if test="@Ognl@isNotEmpty(t.bankname)">
					AND t3.EXPIREDATE >= #{t.bankname}
			   </if>
			   <if test="@Ognl@isNotEmpty(t.expiredate)">
					AND t3.EXPIREDATE &lt;= #{t.expiredate}
			   </if>
		       <if test="@Ognl@isNotEmpty(t.deleteflag)">
					AND t3.DELETEFLAG = '${t.deleteflag}'
			   </if>
		
		</where>
	</sql>
	
		<sql id="querywhere1">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
		       <if test="@Ognl@isNotEmpty(orgcode)">
					AND ORGCODE like '%${orgcode}%'
				</if>
		       <if test="@Ognl@isNotEmpty(bankno)">
					AND BANKNO like '%${bankno}%'
				</if>
			   <if test="@Ognl@isNotEmpty(loandateEnd)">
					AND LOANDATE &lt;= #{loandateEnd}
			   </if>
		       <if test="@Ognl@isNotEmpty(bankname)">
					AND BANKNAME like '%${bankname}%'
				</if>
		       <if test="@Ognl@isNotEmpty(yearrate)">
					AND YEARRATE = '${yearrate}'
			   </if>
		       <if test="@Ognl@isNotEmpty(creditamount)">
					AND CREDITAMOUNT = '${creditamount}'
			   </if>
		       <if test="@Ognl@isNotEmpty(sumamount)">
					AND SUMAMOUNT = '${sumamount}'
			   </if>
		       <if test="@Ognl@isNotEmpty(sumreturn)">
					AND SUMRETURN = '${sumreturn}'
			   </if>
		       <if test="@Ognl@isNotEmpty(loanbalance)">
					AND LOANBALANCE = '${loanbalance}'
			   </if>
		       <if test="@Ognl@isNotEmpty(assureway)">
					AND ASSUREWAY like '%${assureway}%'
				</if>
		       <if test="@Ognl@isNotEmpty(assurewaydes)">
					AND ASSUREWAYDES like '%${assurewaydes}%'
				</if>
		       <if test="@Ognl@isNotEmpty(loanperiod)">
					AND LOANPERIOD like '%${loanperiod}%'
				</if>
		       <if test="@Ognl@isNotEmpty(expiredateBegin)">
					AND EXPIREDATE >= #{expiredateBegin}
			   </if>
			   <if test="@Ognl@isNotEmpty(expiredateEnd)">
					AND EXPIREDATE &lt;= #{expiredateEnd}
			   </if>
		       <if test="@Ognl@isNotEmpty(financecost)">
					AND FINANCECOST = '${financecost}'
			   </if>
		       <if test="@Ognl@isNotEmpty(remark)">
					AND REMARK like '%${remark}%'
				</if>
		       <if test="@Ognl@isNotEmpty(deleteflag)">
					AND DELETEFLAG = '${deleteflag}'
			   </if>
		       <if test="@Ognl@isNotEmpty(rptstatus)">
					AND RPTSTATUS = '${rptstatus}'
			   </if>
		       <if test="@Ognl@isNotEmpty(rptbatch)">
					AND RPTBATCH like '%${rptbatch}%'
				</if>
		       <if test="@Ognl@isNotEmpty(processstatus)">
					AND PROCESSSTATUS = '${processstatus}'
			   </if>
		       <if test="@Ognl@isNotEmpty(createby)">
					AND CREATEBY like '%${createby}%'
				</if>
		       <if test="@Ognl@isNotEmpty(updateby)">
					AND UPDATEBY like '%${updateby}%'
				</if>
		</where>
	</sql>

	<!-- 总记录数 -->
	<select id="count" parameterType="com.mf.financemng.entity.FinanceCondition" resultType="int">
		select count(0) from loanmoney 
		<include refid="querywhere1"/>
	</select>
	
	
	<!-- 新增Selective -->
	<insert id="add" parameterType="com.mf.financemng.entity.FinanceCondition">
		INSERT INTO loanmoney  
		<include refid="addtrim"/>
	</insert>
	
	<sql id="addtrim">
	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(loanmoneyid)">
				loanmoneyid,
			</if>
			<if test="@Ognl@isNotEmpty(orgcode)">
				ORGCODE,
			</if>
			<if test="@Ognl@isNotEmpty(bankno)">
				BANKNO,
			</if>
			<if test="@Ognl@isNotEmpty(loandate)">
				LOANDATE,
			</if>
			<if test="@Ognl@isNotEmpty(bankname)">
				BANKNAME,
			</if>
			<if test="@Ognl@isNotEmpty(yearrate)">
				YEARRATE,
			</if>
			<if test="@Ognl@isNotEmpty(creditamount)">
				CREDITAMOUNT,
			</if>
			<if test="@Ognl@isNotEmpty(sumamount)">
				SUMAMOUNT,
			</if>
			<if test="@Ognl@isNotEmpty(sumreturn)">
				SUMRETURN,
			</if>
			<if test="@Ognl@isNotEmpty(loanbalance)">
				LOANBALANCE,
			</if>
			<if test="@Ognl@isNotEmpty(assureway)">
				ASSUREWAY,
			</if>
			<if test="@Ognl@isNotEmpty(assurewaydes)">
				ASSUREWAYDES,
			</if>
			<if test="@Ognl@isNotEmpty(loanperiod)">
				LOANPERIOD,
			</if>
			<if test="@Ognl@isNotEmpty(expiredate)">
				EXPIREDATE,
			</if>
			<if test="@Ognl@isNotEmpty(financecost)">
				FINANCECOST,
			</if>
			<if test="@Ognl@isNotEmpty(remark)">
				REMARK,
			</if>
			<if test="@Ognl@isNotEmpty(deleteflag)">
				DELETEFLAG,
			</if>
			<if test="@Ognl@isNotEmpty(rptstatus)">
				RPTSTATUS,
			</if>
			<if test="@Ognl@isNotEmpty(rptbatch)">
				RPTBATCH,
			</if>
			<if test="@Ognl@isNotEmpty(rptdate)">
				RPTDATE,
			</if>
			<if test="@Ognl@isNotEmpty(processstatus)">
				PROCESSSTATUS,
			</if>
			<if test="@Ognl@isNotEmpty(createby)">
				CREATEBY,
			</if>
			<if test="@Ognl@isNotEmpty(createdate)">
				CREATEDATE,
			</if>
			<if test="@Ognl@isNotEmpty(updateby)">
				UPDATEBY,
			</if>
			<if test="@Ognl@isNotEmpty(updatedate)">
				updatedate,
			</if>
			<if test="@Ognl@isNotEmpty(channeltype)">
				channeltype,
			</if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides="," >
    <if test="@Ognl@isNotEmpty(loanmoneyid)">
				#{loanmoneyid},
			</if>
			<if test="@Ognl@isNotEmpty(orgcode)">
				#{orgcode},
			</if>
			<if test="@Ognl@isNotEmpty(bankno)">
				#{bankno},
			</if>
			<if test="@Ognl@isNotEmpty(loandate)">
				#{loandate},
			</if>
			<if test="@Ognl@isNotEmpty(bankname)">
				#{bankname},
			</if>
			<if test="@Ognl@isNotEmpty(yearrate)">
				#{yearrate},
			</if>
			<if test="@Ognl@isNotEmpty(creditamount)">
				#{creditamount},
			</if>
			<if test="@Ognl@isNotEmpty(sumamount)">
				#{sumamount},
			</if>
			<if test="@Ognl@isNotEmpty(sumreturn)">
				#{sumreturn},
			</if>
			<if test="@Ognl@isNotEmpty(loanbalance)">
				#{loanbalance},
			</if>
			<if test="@Ognl@isNotEmpty(assureway)">
				#{assureway},
			</if>
			<if test="@Ognl@isNotEmpty(assurewaydes)">
				#{assurewaydes},
			</if>
			<if test="@Ognl@isNotEmpty(loanperiod)">
				#{loanperiod},
			</if>
			<if test="@Ognl@isNotEmpty(expiredate)">
				#{expiredate},
			</if>
			<if test="@Ognl@isNotEmpty(financecost)">
				#{financecost},
			</if>
			<if test="@Ognl@isNotEmpty(remark)">
				#{remark},
			</if>
			<if test="@Ognl@isNotEmpty(deleteflag)">
				#{deleteflag},
			</if>
			<if test="@Ognl@isNotEmpty(rptstatus)">
				#{rptstatus},
			</if>
			<if test="@Ognl@isNotEmpty(rptbatch)">
				#{rptbatch},
			</if>
			<if test="@Ognl@isNotEmpty(rptdate)">
				#{rptdate},
			</if>
			<if test="@Ognl@isNotEmpty(processstatus)">
				#{processstatus},
			</if>
			<if test="@Ognl@isNotEmpty(createby)">
				#{createby},
			</if>
			<if test="@Ognl@isNotEmpty(createdate)">
				#{createdate},
			</if>
			<if test="@Ognl@isNotEmpty(updateby)">
				#{updateby},
			</if>
			<if test="@Ognl@isNotEmpty(updatedate)">
				#{updatedate},
			</if>
			<if test="@Ognl@isNotEmpty(channeltype)">
				#{channeltype},
			</if>
    </trim>
	</sql>
	
	<!-- 删 -->
	<delete id="deleteById" parameterType="String">
		UPDATE loanmoney  SET DELETEFLAG=1 WHERE 
        loanmoneyid = #{id} 
	</delete>
	
	<!-- 根据主键查实体   -->
	<select id="getById" parameterType="String" resultType="com.mf.financemng.entity.FinanceCondition">
		SELECT <include refid="selectId" />
		    FROM loanmoney  
	        WHERE 
        loanmoneyid = #{id} 
	</select>
	<!-- 根据主键查实体   checkbankno  唯一性-->
	<select id="checkbankno" parameterType="String" resultType="com.mf.financemng.entity.FinanceCondition">
		SELECT bankno,loanmoneyid
		    FROM loanmoney  
	        WHERE 
        bankno = #{bankno} 
	</select>
	
	<sql id="updateset">
	<set>
		<if test="@Ognl@isNotEmpty(orgcode)">
			ORGCODE = #{orgcode},
		</if>
		<if test="@Ognl@isNotEmpty(bankno)">
			BANKNO = #{bankno},
		</if>
		<if test="@Ognl@isNotEmpty(loandate)">
			LOANDATE = #{loandate},
		</if>
		<if test="@Ognl@isNotEmpty(bankname)">
			BANKNAME = #{bankname},
		</if>
		<if test="@Ognl@isNotEmpty(yearrate)">
			YEARRATE = #{yearrate},
		</if>
		<if test="@Ognl@isNotEmpty(creditamount)">
			CREDITAMOUNT = #{creditamount},
		</if>
		<if test="@Ognl@isNotEmpty(sumamount)">
			SUMAMOUNT = #{sumamount},
		</if>
		<if test="@Ognl@isNotEmpty(sumreturn)">
			SUMRETURN = #{sumreturn},
		</if>
		<if test="@Ognl@isNotEmpty(loanbalance)">
			LOANBALANCE = #{loanbalance},
		</if>
		<if test="@Ognl@isNotEmpty(assureway)">
			ASSUREWAY = #{assureway},
		</if>
		<if test="@Ognl@isNotEmpty(assurewaydes)">
			ASSUREWAYDES = #{assurewaydes},
		</if>
		<if test="@Ognl@isNotEmpty(loanperiod)">
			LOANPERIOD = #{loanperiod},
		</if>
		<if test="@Ognl@isNotEmpty(expiredate)">
			EXPIREDATE = #{expiredate},
		</if>
		<if test="@Ognl@isNotEmpty(financecost)">
			FINANCECOST = #{financecost},
		</if>
		<if test="@Ognl@isNotEmpty(remark)">
			REMARK = #{remark},
		</if>
		<if test="@Ognl@isNotEmpty(deleteflag)">
			DELETEFLAG = #{deleteflag},
		</if>
		<if test="@Ognl@isNotEmpty(rptstatus)">
			RPTSTATUS = #{rptstatus},
		</if>
		<if test="@Ognl@isNotEmpty(rptbatch)">
			RPTBATCH = #{rptbatch},
		</if>
		<if test="@Ognl@isNotEmpty(rptdate)">
			RPTDATE = #{rptdate},
		</if>
		<if test="@Ognl@isNotEmpty(processstatus)">
			PROCESSSTATUS = #{processstatus},
		</if>
		<if test="@Ognl@isNotEmpty(createby)">
			CREATEBY = #{createby},
		</if>
		<if test="@Ognl@isNotEmpty(createdate)">
			CREATEDATE = #{createdate},
		</if>
		<if test="@Ognl@isNotEmpty(updateby)">
			UPDATEBY = #{updateby},
		</if>
		<if test="@Ognl@isNotEmpty(updatedate)">
			UPDATEDATE = #{updatedate},
		</if>
		<if test="@Ognl@isNotEmpty(channeltype)">
			channeltype = #{channeltype},
		</if>
    </set>
	</sql>
	
	<!-- 更新Selective -->
	<update id="modify" parameterType="com.mf.financemng.entity.FinanceCondition">
	    UPDATE loanmoney  
		<include refid="updateset"/>
        WHERE 
	        loanmoneyid = #{loanmoneyid} 
	</update>
	
	<!-- 查找唯一索引但不是主键的字段Selective -->
	
</mapper>

