<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.mf.financemng.dao.FinanceCashFlowDao">

	<resultMap id="FinanceCashFlow" type="com.mf.financemng.entity.FinanceCashFlow">
        <result property="cashid" column="CASHID"/>
        <result property="rptid" column="RPTID"/>
        <result property="rptmonth" column="RPTMONTH"/>
        <result property="itemcode" column="ITEMCODE"/>
        <result property="rpttype" column="RPTTYPE"/>
        <result property="itemvalue" column="ITEMVALUE"/>
        <result property="rptstatus" column="RPTSTATUS"/>
        <result property="rptbatch" column="RPTBATCH"/>
        <result property="rptdate" column="RPTDATE"/>
        <result property="processstatus" column="PROCESSSTATUS"/>
        <result property="deleteflag" column="DELETEFLAG"/>
        <result property="validate" column="VALIDATE"/>
        <result property="orgcode" column="ORGCODE"/>
	</resultMap>
	
	<sql id="selectId">
		CASHID,
RPTID,
RPTMONTH,
ITEMCODE,
RPTTYPE,
ITEMVALUE,
RPTSTATUS,
RPTBATCH,
RPTDATE,
PROCESSSTATUS,
DELETEFLAG,
VALIDATE,
ORGCODE
    </sql>
    <select id="findAll" resultType="com.mf.financemng.entity.FinanceCashFlow">
		select
		<include refid="selectId" />
		from finreportcash 
	</select>
	
	<select id="queryAll" resultType="com.mf.financemng.entity.FinanceCashFlow" parameterType="com.mf.financemng.entity.FinanceCashFlow">
		select
		<include refid="selectId" />
		from finreportcash 
		<include refid="querywhere1"/>
		order by itemcode
	</select>

	<select id="query" resultType="com.mf.financemng.entity.FinanceCashFlow" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from finreportcash 
		<where>
			<if test="@Ognl@isNotEmpty(t.reportMonth)">
				AND ReportMonth like '%${t.reportMonth}%'
			</if>
		</where>
		<if test="@Ognl@isNotEmpty(t.sort) and @Ognl@isNotEmpty(t.direction)">
		 order by ${t.sort} ${t.direction}
		</if>
	</select>
	
<sql id="querywhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
			   <if test="@Ognl@isNotEmpty(t.cashid)">
					AND CASHID like '%${t.cashid}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.rptid)">
					AND RPTID like '%${t.rptid}%'
			   </if>
		       <if test="@Ognl@isNotEmpty(t.rptmonth)">
					AND RPTMONTH = '${t.rptmonth}'
			   </if>
		       <if test="@Ognl@isNotEmpty(t.itemcode)">
					AND ITEMCODE = '${t.itemcode}'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.rpttype)">
					AND RPTTYPE like '%${t.rpttype}%'
			   </if>
		       <if test="@Ognl@isNotEmpty(t.itemvalue)">
					AND ITEMVALUE = '${t.itemvalue}'
			   </if>
		       <if test="@Ognl@isNotEmpty(t.rptstatus)">
					AND RPTSTATUS = '${t.rptstatus}'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.rptbatch)">
					AND RPTBATCH like '%${t.rptbatch}%'
			   </if>
		       <if test="@Ognl@isNotEmpty(t.rptdateBegin)">
					AND RPTDATE >= #{t.rptdateBegin}
			   </if>
			   <if test="@Ognl@isNotEmpty(t.rptdateEnd)">
					AND RPTDATE &lt;= #{t.rptdateEnd}
			   </if>
		       <if test="@Ognl@isNotEmpty(t.processstatus)">
					AND PROCESSSTATUS = '${t.processstatus}'
			   </if>
		       <if test="@Ognl@isNotEmpty(t.deleteflag)">
					AND DELETEFLAG = '${t.deleteflag}'
			   </if>
		       <if test="@Ognl@isNotEmpty(t.validate)">
					AND VALIDATE = '${t.validate}'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.orgcode)">
					AND ORGCODE like '%${t.orgcode}%'
			   </if>
	       
		</where>
	</sql>
	
		<sql id="querywhere1">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
		       <if test="@Ognl@isNotEmpty(rptid)">
					AND RPTID = '${rptid}'
				</if>
		       <if test="@Ognl@isNotEmpty(rptmonth)">
					AND RPTMONTH = '${rptmonth}'
			   </if>
		       <if test="@Ognl@isNotEmpty(itemcode)">
					AND ITEMCODE = '${itemcode}'
			   </if>
		       <if test="@Ognl@isNotEmpty(rptstatus)">
					AND RPTSTATUS = '${rptstatus}'
			   </if>
		       <if test="@Ognl@isNotEmpty(processstatus)">
					AND PROCESSSTATUS = '${processstatus}'
			   </if>
		       <if test="@Ognl@isNotEmpty(deleteflag)">
					AND DELETEFLAG = '${deleteflag}'
			   </if>
		       <if test="@Ognl@isNotEmpty(orgcode)">
					AND ORGCODE like '%${orgcode}%'
				</if>
	       
		</where>
	</sql>

	<!-- 总记录数 -->
	<select id="count" parameterType="com.mf.financemng.entity.FinanceCashFlow" resultType="int">
		select count(0) from finreportcash 
		<include refid="querywhere1"/>
	</select>
	
	<!-- 新增Selective -->
	<insert id="add" parameterType="com.mf.financemng.entity.FinanceCashFlow">
		INSERT INTO finreportcash  
		<include refid="addtrim"/>
	</insert>
	
	<sql id="addtrim">
	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(cashid)">
				CASHID,
			</if>
			<if test="@Ognl@isNotEmpty(rptid)">
				RPTID,
			</if>
			<if test="@Ognl@isNotEmpty(rptmonth)">
				RPTMONTH,
			</if>
			<if test="@Ognl@isNotEmpty(itemcode)">
				ITEMCODE,
			</if>
			<if test="@Ognl@isNotEmpty(rpttype)">
				RPTTYPE,
			</if>
			<if test="@Ognl@isNotEmpty(itemvalue)">
				ITEMVALUE,
			</if>
			<if test="@Ognl@isNotEmpty(rptstatus)">
				RPTSTATUS,
			</if>
			<if test="@Ognl@isNotEmpty(rptbatch)">
				RPTBATCH,
			</if>
			<if test="@Ognl@isNotEmpty(rptdate)">
				RPTDATE,
			</if>
			<if test="@Ognl@isNotEmpty(processstatus)">
				PROCESSSTATUS,
			</if>
			<if test="@Ognl@isNotEmpty(deleteflag)">
				DELETEFLAG,
			</if>
			<if test="@Ognl@isNotEmpty(validate)">
				VALIDATE,
			</if>
			<if test="@Ognl@isNotEmpty(orgcode)">
				ORGCODE,
			</if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(cashid)">
				#{cashid},
			</if>
			<if test="@Ognl@isNotEmpty(rptid)">
				#{rptid},
			</if>
			<if test="@Ognl@isNotEmpty(rptmonth)">
				#{rptmonth},
			</if>
			<if test="@Ognl@isNotEmpty(itemcode)">
				#{itemcode},
			</if>
			<if test="@Ognl@isNotEmpty(rpttype)">
				#{rpttype},
			</if>
			<if test="@Ognl@isNotEmpty(itemvalue)">
				#{itemvalue},
			</if>
			<if test="@Ognl@isNotEmpty(rptstatus)">
				#{rptstatus},
			</if>
			<if test="@Ognl@isNotEmpty(rptbatch)">
				#{rptbatch},
			</if>
			<if test="@Ognl@isNotEmpty(rptdate)">
				#{rptdate},
			</if>
			<if test="@Ognl@isNotEmpty(processstatus)">
				#{processstatus},
			</if>
			<if test="@Ognl@isNotEmpty(deleteflag)">
				#{deleteflag},
			</if>
			<if test="@Ognl@isNotEmpty(validate)">
				#{validate},
			</if>
			<if test="@Ognl@isNotEmpty(orgcode)">
				#{orgcode},
			</if>
    </trim>
	</sql>
	
	<!-- 删  deleteByFlag-->
	<delete id="deleteByFlag" parameterType="String">
		update finreportcash  set deleteflag=1 WHERE
        rptid = #{id} 
	</delete>
	<!-- 删审计报告的现金流量表 -->
	<delete id="deleteCashflow" parameterType="String">
		update finreportcash
		set deleteflag = 1
		WHERE
        rptmonth = #{reportMonth}  and deleteflag = 0
	</delete>
	
	<!-- 根据reportMonth查询 -->
	<select id="getByReport" parameterType="String" resultType="com.mf.financemng.entity.FinanceCashFlow">
		SELECT itemvalue,rptmonth,itemcode FROM finreportcash
		where deleteflag=0 and rptmonth =#{rptmonth} 
	</select>
		<!-- 根据reportMonth查询 -->
	<select id="getByReportview" parameterType="String" resultType="com.mf.financemng.entity.FinanceCashFlow">
		select rptmonth,itemvalue from finreportcash where rptmonth in 
		(#{rptmonth},(select MAX(rptmonth) from finreportcash where rptmonth &lt; #{rptmonth} and deleteflag=0 and rptmonth>9999)
		)
		and deleteflag=0 order by rptmonth,itemcode
	</select>
	
	<!-- 根据主键查实体 -->
	<select id="getByCashflowId" parameterType="String" resultType="com.mf.financemng.entity.FinanceCashFlow">
		SELECT <include refid="selectId" />
		    FROM finreportcash  
	        WHERE 
        cashid = #{cashid} 
	</select>
	
	
	
	
	
	<!-- 根据reportMonth查询 -->
	<select id="getCashflow" parameterType="com.mf.financemng.entity.FinanceCashFlow"  resultType="com.mf.financemng.entity.FinanceCashFlow">
		select rptmonth,itemvalue from finreportcash where rptmonth in 
		(#{rptmonth},(select MAX(rptmonth) from finreportcash where rptmonth &lt; #{rptmonth} and deleteflag=0)
		)
		and deleteflag=0 and rptid in (select rptid from finreport where rpttype = #{rpttype}  and auditstatus = 1) order by rptmonth,cashid
	</select>
	
	
	<sql id="updateset">
	<set>
		<if test="@Ognl@isNotEmpty(rptid)">
			RPTID = #{rptid},
		</if>
		<if test="@Ognl@isNotEmpty(itemvalue)">
			ITEMVALUE = #{itemvalue},
		</if>
	
    </set>
	</sql>
	
	<!-- 更新Selective -->
	<update id="modify" parameterType="com.mf.financemng.entity.FinanceCashFlow">
	    UPDATE finreportcash  
		<include refid="updateset"/>
        WHERE 
	        cashid = #{cashid} 
	</update>
	
	<!-- 查找唯一索引但不是主键的字段Selective -->
	
</mapper>

