<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.mf.financemng.dao.FnncChckprfdtlDao">

	<resultMap id="FnncChckprfdtl" type="com.mf.financemng.entity.FnncChckprfdtl">
        <result property="prfcrtdt" column="PRFCRTDT"/>
        <result property="chcktrcno" column="CHCKTRCNO"/>
        <result property="sqnno" column="SQNNO"/>
        <result property="dptno" column="DPTNO"/>
        <result property="currncy" column="CURRNCY"/>
        <result property="accntno" column="ACCNTNO"/>
        <result property="jdflg" column="JDFLG"/>
        <result property="chckprftyp" column="CHCKPRFTYP"/>
        <result property="amnt" column="AMNT"/>
        <result property="opno" column="OPNO"/>
        <result property="stt" column="STT"/>
	</resultMap>
	
	<sql id="selectId">
		PRFCRTDT,
CHCKTRCNO,
SQNNO,
DPTNO,
CURRNCY,
ACCNTNO,
JDFLG,
CHCKPRFTYP,
AMNT,
OPNO,
STT
    </sql>
    
    <select id="findAll" resultType="com.mf.financemng.entity.FnncChckprfdtl">
		select
		<include refid="selectId" />
		from fnnc_chckprfdtl
	</select>
	
	<select id="queryAll" resultType="com.mf.financemng.entity.FnncChckprfdtl" parameterType="com.mf.financemng.entity.FnncChckprfdtl">
		select
		<include refid="selectId" />
		from fnnc_chckprfdtl
		<include refid="querywhere1"/>
		<if test="@Ognl@isNotEmpty(sort) and @Ognl@isNotEmpty(direction)">
		 order by ${sort} ${direction}
		</if>
	</select>

	<select id="query" resultType="com.mf.financemng.entity.FnncChckprfdtl" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from fnnc_chckprfdtl
		<include refid="querywhere"/>
		<if test="@Ognl@isNotEmpty(t.sort) and @Ognl@isNotEmpty(t.direction)">
		 order by ${t.sort} ${t.direction}
		</if>
	</select>
	
	<sql id="querywhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
			   <if test="@Ognl@isNotEmpty(t.prfcrtdt)">
					AND PRFCRTDT like '%${t.prfcrtdt}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.chcktrcno)">
					AND CHCKTRCNO like '%${t.chcktrcno}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.sqnno)">
					AND SQNNO like '%${t.sqnno}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.dptno)">
					AND DPTNO like '%${t.dptno}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.currncy)">
					AND CURRNCY like '%${t.currncy}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.accntno)">
					AND ACCNTNO like '%${t.accntno}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.jdflg)">
					AND JDFLG like '%${t.jdflg}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.chckprftyp)">
					AND CHCKPRFTYP like '%${t.chckprftyp}%'
			   </if>
		       <if test="@Ognl@isNotEmpty(t.amnt)">
					AND AMNT = '${t.amnt}'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.opno)">
					AND OPNO like '%${t.opno}%'
			   </if>
			   <if test="@Ognl@isNotEmpty(t.stt)">
					AND STT like '%${t.stt}%'
			   </if>
	       
		</where>
	</sql>
	
		<sql id="querywhere1">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
		       <if test="@Ognl@isNotEmpty(prfcrtdt)">
					AND PRFCRTDT like '%${prfcrtdt}%'
				</if>
		       <if test="@Ognl@isNotEmpty(chcktrcno)">
					AND CHCKTRCNO like '%${chcktrcno}%'
				</if>
		       <if test="@Ognl@isNotEmpty(sqnno)">
					AND SQNNO like '%${sqnno}%'
				</if>
		       <if test="@Ognl@isNotEmpty(dptno)">
					AND DPTNO like '%${dptno}%'
				</if>
		       <if test="@Ognl@isNotEmpty(currncy)">
					AND CURRNCY like '%${currncy}%'
				</if>
		       <if test="@Ognl@isNotEmpty(accntno)">
					AND ACCNTNO like '%${accntno}%'
				</if>
		       <if test="@Ognl@isNotEmpty(jdflg)">
					AND JDFLG like '%${jdflg}%'
				</if>
		       <if test="@Ognl@isNotEmpty(chckprftyp)">
					AND CHCKPRFTYP like '%${chckprftyp}%'
				</if>
		       <if test="@Ognl@isNotEmpty(amnt)">
					AND AMNT = '${amnt}'
			   </if>
		       <if test="@Ognl@isNotEmpty(opno)">
					AND OPNO like '%${opno}%'
				</if>
		       <if test="@Ognl@isNotEmpty(stt)">
					AND STT like '%${stt}%'
				</if>
	       
		</where>
	</sql>

	<!-- 总记录数 -->
	<select id="count" parameterType="com.mf.financemng.entity.FnncChckprfdtl" resultType="int">
		select count(0) from fnnc_chckprfdtl
		<include refid="querywhere1"/>
	</select>
	
	<!-- 新增 -->
	<insert id="addAll" parameterType="com.mf.financemng.entity.FnncChckprfdtl">
	<selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="id" >
        SELECT LAST_INSERT_ID() AS ID   
    </selectKey>
		INSERT INTO fnnc_chckprfdtl (
        	PRFCRTDT ,
        	CHCKTRCNO ,
        	SQNNO ,
        	DPTNO ,
        	CURRNCY ,
        	ACCNTNO ,
        	JDFLG ,
        	CHCKPRFTYP ,
        	AMNT ,
        	OPNO ,
        	STT 
        ) VALUES (
        	#{prfcrtdt} ,
        	#{chcktrcno} ,
        	#{sqnno} ,
        	#{dptno} ,
        	#{currncy} ,
        	#{accntno} ,
        	#{jdflg} ,
        	#{chckprftyp} ,
        	#{amnt} ,
        	#{opno} ,
        	#{stt} 
        )
	</insert>
	
	<!-- 新增Selective -->
	<insert id="add" parameterType="com.mf.financemng.entity.FnncChckprfdtl">
		INSERT INTO fnnc_chckprfdtl 
		<include refid="addtrim"/>
	</insert>
	
	<sql id="addtrim">
	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(prfcrtdt)">
				PRFCRTDT,
			</if>
			<if test="@Ognl@isNotEmpty(chcktrcno)">
				CHCKTRCNO,
			</if>
			<if test="@Ognl@isNotEmpty(sqnno)">
				SQNNO,
			</if>
			<if test="@Ognl@isNotEmpty(dptno)">
				DPTNO,
			</if>
			<if test="@Ognl@isNotEmpty(currncy)">
				CURRNCY,
			</if>
			<if test="@Ognl@isNotEmpty(accntno)">
				ACCNTNO,
			</if>
			<if test="@Ognl@isNotEmpty(jdflg)">
				JDFLG,
			</if>
			<if test="@Ognl@isNotEmpty(chckprftyp)">
				CHCKPRFTYP,
			</if>
			<if test="@Ognl@isNotEmpty(amnt)">
				AMNT,
			</if>
			<if test="@Ognl@isNotEmpty(opno)">
				OPNO,
			</if>
			<if test="@Ognl@isNotEmpty(stt)">
				STT,
			</if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides="," >
			<if test="@Ognl@isNotEmpty(prfcrtdt)">
				#{prfcrtdt},
			</if>
			<if test="@Ognl@isNotEmpty(chcktrcno)">
				#{chcktrcno},
			</if>
			<if test="@Ognl@isNotEmpty(sqnno)">
				#{sqnno},
			</if>
			<if test="@Ognl@isNotEmpty(dptno)">
				#{dptno},
			</if>
			<if test="@Ognl@isNotEmpty(currncy)">
				#{currncy},
			</if>
			<if test="@Ognl@isNotEmpty(accntno)">
				#{accntno},
			</if>
			<if test="@Ognl@isNotEmpty(jdflg)">
				#{jdflg},
			</if>
			<if test="@Ognl@isNotEmpty(chckprftyp)">
				#{chckprftyp},
			</if>
			<if test="@Ognl@isNotEmpty(amnt)">
				#{amnt},
			</if>
			<if test="@Ognl@isNotEmpty(opno)">
				#{opno},
			</if>
			<if test="@Ognl@isNotEmpty(stt)">
				#{stt},
			</if>
    </trim>
	</sql>
	
	<!-- 删 -->
	<delete id="deleteById" parameterType="String">
		DELETE FROM fnnc_chckprfdtl WHERE
	</delete>
	
	<!-- 根据主键查实体 -->
	<select id="getById" parameterType="String" resultType="com.mf.financemng.entity.FnncChckprfdtl">
		SELECT <include refid="selectId" />
		    FROM fnnc_chckprfdtl 
	        WHERE 
	</select>
	
	<!-- 更新all -->
	<update id="updateAll" parameterType="com.mf.financemng.entity.FnncChckprfdtl">
	    UPDATE fnnc_chckprfdtl SET
	        PRFCRTDT = #{prfcrtdt} ,
	        CHCKTRCNO = #{chcktrcno} ,
	        SQNNO = #{sqnno} ,
	        DPTNO = #{dptno} ,
	        CURRNCY = #{currncy} ,
	        ACCNTNO = #{accntno} ,
	        JDFLG = #{jdflg} ,
	        CHCKPRFTYP = #{chckprftyp} ,
	        AMNT = #{amnt} ,
	        OPNO = #{opno} ,
	        STT = #{stt} 
        WHERE 
	</update>
	
	<sql id="updateset">
	<set>
		<if test="@Ognl@isNotEmpty(prfcrtdt)">
			PRFCRTDT = #{prfcrtdt},
		</if>
		<if test="@Ognl@isNotEmpty(chcktrcno)">
			CHCKTRCNO = #{chcktrcno},
		</if>
		<if test="@Ognl@isNotEmpty(sqnno)">
			SQNNO = #{sqnno},
		</if>
		<if test="@Ognl@isNotEmpty(dptno)">
			DPTNO = #{dptno},
		</if>
		<if test="@Ognl@isNotEmpty(currncy)">
			CURRNCY = #{currncy},
		</if>
		<if test="@Ognl@isNotEmpty(accntno)">
			ACCNTNO = #{accntno},
		</if>
		<if test="@Ognl@isNotEmpty(jdflg)">
			JDFLG = #{jdflg},
		</if>
		<if test="@Ognl@isNotEmpty(chckprftyp)">
			CHCKPRFTYP = #{chckprftyp},
		</if>
		<if test="@Ognl@isNotEmpty(amnt)">
			AMNT = #{amnt},
		</if>
		<if test="@Ognl@isNotEmpty(opno)">
			OPNO = #{opno},
		</if>
		<if test="@Ognl@isNotEmpty(stt)">
			STT = #{stt},
		</if>
    </set>
	</sql>
	
	<!-- 更新Selective -->
	<update id="update" parameterType="com.mf.financemng.entity.FnncChckprfdtl">
	    UPDATE fnnc_chckprfdtl 
		<include refid="updateset"/>
        WHERE 
	</update>
	
	<!-- 查找唯一索引但不是主键的字段Selective -->
	
</mapper>

